@page "/changefont2"
<h3>スタイルでフォントサイズを変更</h3>
<div class="form-group">
    <label class="col-form-label">フォントサイズ</label>
    <input type="text" @bind="fontSize" class="form-control" />
</div>
<div>
    <label class="col-form-label">@fontSize</label>
    <div @bind-style="fontSize" @bind-style:event="onchange">フォントサイズを変更</div>
</div>
<h3>フォントサイズを数値で変更</h3>
<div class="form-group">
    <label class="col-form-label">フォントサイズ</label>
    <input type="number" @bind="fontSizeNum" class="form-control" />
</div>
<div>
    <label class="col-form-label">@fontSizeNum</label>
    <div style="font-size: @(fontSizeNum)pt">フォントサイズを変更</div>
</div>
@code {
    private string fontSize { get; set; } = "font-size: 12pt";
    private int fontSizeNum { get; set; } = 12;
}
