<ul>
  <li><a routerLink="/" routerLinkActive="current"
     [routerLinkActiveOptions]="{ exact: true }">メインページ</a></li>
  <li><a routerLink="/article/13" routerLinkActive="current">記事No.13</a></li>
  <li><a routerLink="/article/108" routerLinkActive="current">記事No.108</a></li>
  <li><a routerLink="param" routerLinkActive="current"
     [queryParams]="{category: 'Angular', keyword: 'Routing'}" fragment="hoge">クエリ情報／フラグメント</a></li>
  <li><a routerLink="/search/Angular/Karma/Rx" routerLinkActive="current">「Angular／Karma／Rx」の検索</a></li> 
  <li><a routerLink="/exam" routerLinkActive="current">Exampleページ</a></li>
  <li><a routerLink="/dummy" routerLinkActive="current">不正なページ</a></li>
</ul>
<hr />
<router-outlet></router-outlet>
